.user-details-container {
    position: fixed;
    left: 20px;
    top: 20px;
    max-width: 500px;
    border: 1px solid lightgrey;
    background-color: white;
}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.basic-info * {
    margin: 6px;
}

.name {
    font-weight: bold;
}

.basic-info img {
    border-radius: 50%;
    align-self: center;
    height: 80px;
    width: 80px;
}

.detailed-info {
    margin: 20px;
}

.detailed-info tr td:first-child {
    font-weight: bold;
    padding: 5px 20px 5px 0;
}

.send-msg {
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.close {
    float: right;
    background-color: white;
    border: 0px;
    cursor: pointer;
}

#page-mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}