.users-list {
    border: 1px solid lightgrey;
    padding: 0px;
    width: 600px;
}

.view-all {
    list-style-type: none;
    margin: 20px;
}

.view-all button {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 3em;
    cursor: pointer;
    display: block;
    width: 100%;
}